* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1,
h2,
h3,
h4 {
	font-family: Roboto, helvetica, sans-serif;
	margin: 0;
	padding: 0.5rem;
	font-size: larger;
	font-weight: 700;
}

section {
	margin: 1rem 0;
	border: 1px solid rgb(0 0 0 / 0.1);
	padding: 0.5rem;
	width: 760px;
	background-color: #eee;
}

p,
input,
label {
	margin: 0.25rem;
	padding: 0.5rem;
}

.sel::selection {
	background-color: #000;
	color: yellow;
}

.firstline::first-line {
	color: tomato;
}
.firstletter::first-letter {
	color: navy;
	font-size: 2rem;
}
.before::before {
	content: "🎈 ";
}
.after::after {
	content: " 🌮";
}

ol {
	list-style: numeric;
	margin-left: 3rem;
}

.counter {
	counter-increment: paras;
}

.counter::before {
	content: "🔸" counter(paras) ":";
}

.counter {
	font-family: courier;
}

.mark-complete::before {
	content: "🗝️ ";
}

a:visited,
a:active{
	color: navy;
}

a:hover{
	color:purple;
}

.datatable{
	border: 1px solid #000;
	display: flex;
}

.datatable .col{
	border: 1px solid #000;
	border-left: none;
}