@media only screen and (min-width: 600px) {
    :root{
    --Soft-warm: #F7F7F2;
    --Light-b: #EFEBD8; 
    --Cool-g: #E3E7E5; 
    --Charcoal: #2E2E2E; 
    --title: #82B411;
    --header-background: #2e4004;
    }

    .navigation{
        display: flex;

    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;   
        align-items: center;       
        gap: 2rem;  
        width: 100%;               
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav a{
        padding: .25rem .5rem;
    }

    #menu {
        display: none;
    }

    #recipe-container {
        display: grid;
        gap: 3rem;
        padding: 1rem;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;

    }
    
    .recipe-image {
        width: 250px;
        height: auto;
        border-radius: 8px;
        display: block;
        margin:0 auto;
}    
}
