:root{
    --Soft-warm: #F7F7F2;
    --Light-b: #EFEBD8; 
    --Cool-g: #E3E7E5; 
    --Charcoal: #2E2E2E; 
    --title: #82B411;
    --header-background: #2e4004;
}

header{
    background-color: var(--header-background);
    color: var(--Soft-warm);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo-image{
    width: 80px;
    height: auto;
    object-fit: contain;
}


#menu{
    font-size: 1.5rem;
    border: 0;
    background: var(--header-background);
    color: var(--Cool-g);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before{
    content:"☰";
}

#menu.open::before{
    content:"❌";
}


.navigation{
    display: none;
}

.navigation.open{
    display: block;
}

nav {
    display: flex;
    gap: 1.5rem;
}

nav a{
    text-decoration: none;
    color: var(--Soft-warm);
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
}

nav ul {
    display: none; /* hamburger menu default */
}

nav a:hover{
    background-color: var(--Light-b);
    color: var(--Charcoal);
    padding: .10rem;
    border-radius: 8px;
}

h1{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--title);
}

h3{
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
}

p{
    padding: 0
}

footer{
    background-color: var(--header-background);
    color: var(--Soft-warm);
    padding: 1rem;
    text-align: center;
}



/* large.css */
@media screen and (min-width: 640px) {
    .navigation{
        display: block;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;   
        align-items: center;       
        gap: 2rem;  
        width: 100%;               
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav a{
        padding: .25rem .5rem;
    }

    #menu {
        display: none;
    }
}

