:root {
    --primary-back-ground: rgb(47, 28, 64);
    --whit: rgb(255, 255, 255);
    --main:rgb(227, 225, 218);
    --ends: rgb(222, 236, 242);
}



#course-title {
    background-color: var(--main);
    display: block;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

header {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

nav{
    background-color: var(--primary-back-ground);
    margin: 0 auto;
    max-width: 800px;
    color: var(--whit);
    font-size: 20px;
    border-radius: 8px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul{
    list-style-type: none;
    display: flex; 
    /* Display flex makes them align */

}

nav ul li{
    flex: 1 0 auto;
}

nav a {
    display: block;
    color: var(--whit);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    

}

nav a:hover {
    text-decoration:underline;
}


.aboutme {
    display: block;           
    width: 100%;           
    background-color: var(--primary-back-ground);
    color: var(--whit);
    font-family: "Asap Condensed", sans-serif;
    font-weight: 400;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    gap: 1rem;
    font-size: 20px;
}

.card {
    border: 2px solid var(--primary-back-ground);
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile-picture {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;

    
}

.flags {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;   
}

footer{
    text-align: center;
    font-size: 18px;
    background-color: var(--main);
    margin: 0 auto;
    max-width: 800px;
    padding-top: .5rem;
    padding-bottom: 1rem;
}