@media (min-width:1200px){

  :root {
    --icon: rgb(0, 100, 250);
    --ends: rgb(222, 236, 242);
  }

  .hero-wrapper{
      position: relative;
      width: 100%;
  }

  .data,
  .weather {
      position: absolute;
      width: 300px;
      padding: 1rem;
      background-color: var(--background-g);
      backdrop-filter: blur(6px);
      border-radius: 10px;
      z-index: 10;
  }

  .data {
      top: 2rem;
      left: 2rem;
  }

  .weather {
      bottom: 2rem;
      right: 2rem;
      
  }

  .hero img {
      display: block;
      width: 100%;
      height: auto;
      z-index: 1;
  }

  .data:hover,
  .weather:hover {
      border: 2px solid var(--ends);
      transition: border 0.3s ease;
  }

  .weather h2::after{
    content:"🌬️" ;
    margin-left: 0.5rem;
    font-size: 3rem;
    vertical-align: middle;
  }

}