/* LARGE SCREENS */
@media (min-width:640px){
    nav{
        display: flex;
        justify-content: center;
    }

    .navigation{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }
    .navigation li{
        flex: 1 1 100%;
        display: block;
    }

    main{
        grid-template-columns: 1fr 1fr;
    }

    main > h1{
        grid-column: 1/-1;
    }

    figure{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    figure img{
        height: 300px;
    }

    #menu{
        display: none;
    }
}